{% extends 'base.html' %}

{% block content %}
    <a href="{{ url_for('longread', longread_id=longread_id) }}">Back</a>
    <h1 style="width: 100%">{% block title %} Add a New Chapter to Longread {% endblock %}</h1>
    <form method="post">
        <p>
            <label for="name">Name</label>
            <input type="text" name="name"
                   placeholder="Name">
            </input>
        </p>

        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}